---
import { IoMdSunny } from "react-icons/io";
import { MdDeveloperMode } from "react-icons/md";
---

<div
  class="fixed flex justify-between bg-gradient-to-r from-green-500 to-emerald-400 w-full py-3 px-10"
>
  <div
    class="flex items-center space-x-2 cursor-pointer hover:bg-green-500/60 active:bg-green-600/40 p-1 px-3 rounded-xl"
  >
    <MdDeveloperMode className="text-black" size={30} />
    <h1 class="text-xl font-bold tracking-tighter text-black">Raikonif Developer</h1>
  </div>
  <ul class="flex space-x-8">
    <li
      class="text-xl tracking-wide font-semibold cursor-pointer rounded-2xl hover:text-black p-1 px-3 active:bg-green-500/60"
    >
      Projects
    </li>
    <li
      class="text-xl tracking-wide font-semibold cursor-pointer text-black rounded-2xl p-1 px-3 active:bg-green-500/60"
    >
      About me
    </li>
    <li class="items-center flex">
      <IoMdSunny className="text-black" />
    </li>
  </ul>
</div>
