---
import { MdDeveloperMode } from "react-icons/md";
---

<div class="flex justify-between bg-gradient-to-r from-cyan-700 to-green-600 w-full py-3 px-10">
  <div class="flex items-center space-x-2">
    <MdDeveloperMode className="text-cyan-100" size={30} />
    <h1 class="text-cyan-100 text-xl font-bold tracking-tighter">Raikonif Portfolio</h1>
  </div>
  <ul class="flex space-x-8">
    <li class="text-cyan-100 text-xl tracking-wide font-semibold">Projects</li>
    <li class="text-cyan-100 text-xl tracking-wide font-semibold">About me</li>
  </ul>
</div>
