---
import { IoMdSunny } from "react-icons/io";
import { MdDeveloperMode } from "react-icons/md";
---

<header
  class="fixed flex justify-between bg-gradient-to-r from-green-500 to-emerald-400 w-full p-2 px-3 md:p-4"
>
  <div
    class="flex items-center gap-2 cursor-pointer hover:bg-green-500/60 active:bg-green-600/40 rounded-xl"
  >
    <MdDeveloperMode className="text-black" size="30" />
    <h1 class="md:text-xl font-bold text-black">Raikonif Developer</h1>
  </div>
  <ul class="flex gap-4">
    <li
      class="md:text-xl font-semibold cursor-pointer rounded-2xl hover:text-black active:bg-green-500/60"
    >
      Projects
    </li>
    <li
      class="md:text-xl font-semibold cursor-pointer text-black rounded-2xl active:bg-green-500/60"
    >
      About me
    </li>
  </ul>
</header>
