---
import {FaArrowAltCircleDown} from "react-icons/fa";
---
<section class="px-10 min-h-screen flex pb-20 items-center justify-center w-full">
    <h1
      class="text-6xl md:text-8xl items-center text-center font-bold bg-gradient-to-r from-green-500 to-emerald-100 bg-clip-text text-transparent"
    >
      Hi! I'm Diego <br /> Software Developer!
    </h1>
    <FaArrowAltCircleDown className="text-4xl md:text-6xl animate-bounce absolute bottom-7 text-green-500"/>
  </section>
