<!--import {IoArrowDownCircleSharp} from "react-icons/io5"; -->
<!--import {MdDeveloperMode} from "react-icons/md";-->

<!-- <section
  class="bg-gradient-to-b from-green-500 to-15% to-neutral-900 min-h-screen px-10 pt-72 items-center justify-center w-full"
> -->
  <div>
    <h1
      class="text-8xl text-center font-bold bg-gradient-to-r from-green-500 to-emerald-100 bg-clip-text text-transparent"
    >
      Hi! I'm Diego <br /> Software Developer!
    </h1>
    <!--<IoArrowDownCircleSharp />-->
  </div>
<!-- </section> -->
