  <section class="px-10 pt-40 md:pt-64 pb-20 items-center justify-center w-full">
    <h1
      class="text-6xl md:text-8xl text-center font-bold bg-gradient-to-r from-green-500 to-emerald-100 bg-clip-text text-transparent"
    >
      Hi! I'm Diego <br /> Software Developer!
    </h1>
  </section>
