---
import CardProject from "../CardProject.astro";
---

<section class="w-full flex flex-col">
  <h2
    class="text-8xl text-center font-bold bg-gradient-to-r from-green-500 to-emerald-100 bg-clip-text text-transparent"
  >
    Projects
  </h2>
  <div class="flex">
    <CardProject />
    <CardProject />
    <CardProject />
  </div>
</section>
