---
import { FaPython } from "react-icons/fa";
import { IoLogoJavascript } from "react-icons/io5";
import { SiTypescript } from "react-icons/si";
import { FaReact } from "react-icons/fa";
import { SiFastapi } from "react-icons/si";
import { SiDjango } from "react-icons/si";
import { SiAstro } from "react-icons/si";
import { FaGithub } from "react-icons/fa";
import { FaGitAlt } from "react-icons/fa";
import { FaDigitalOcean } from "react-icons/fa";
import { RiTailwindCssFill } from "react-icons/ri";
import { SiCss3 } from "react-icons/si";
import { FaDocker } from "react-icons/fa";
import { BiLogoPostgresql } from "react-icons/bi";
import { RiSupabaseFill } from "react-icons/ri";
import { IoLogoFirebase } from "react-icons/io5";
---

<section class="w-full py-20 flex flex-col px-4">
  <div class="pb-20 items-center justify-center w-full">
    <h1
      class="text-6xl mb-7 md:text-8xl text-center font-bold bg-gradient-to-r from-green-500 to-emerald-100 bg-clip-text text-transparent"
    >
      Skills
    </h1>
    <div class="flex items-center justify-center">
      <ul class="grid grid-cols-2 md:grid-cols-4 gap-4">
        <li
          class="flex w-fit gap-3 text-semibold justify-center items-center rounded-md text-xl md:text-3xl p-3 bg-green-500"
        >
          <FaPython size="30" />
          Python
        </li>
        <li
          class="flex w-fit gap-3 text-semibold justify-center items-center rounded-md text-xl md:text-3xl p-3 bg-green-500"
        >
          <IoLogoJavascript size="30" />
          Javascript
        </li>
        <li
          class="flex w-fit gap-3 text-semibold justify-center items-center rounded-md text-xl md:text-3xl p-3 bg-green-500"
        >
          <SiTypescript size="30" />
          Typescript
        </li>
        <li
          class="flex w-fit gap-3 text-semibold justify-center items-center rounded-md text-xl md:text-3xl p-3 bg-green-500"
        >
          <SiCss3 size="30" />
          CSS
        </li>
        <li
          class="flex w-fit gap-3 text-semibold justify-center items-center rounded-md text-xl md:text-3xl p-3 bg-green-500"
        >
          <FaGitAlt size="30" />
          Git
        </li>
        <li
          class="flex w-fit gap-3 text-semibold justify-center items-center rounded-md text-xl md:text-3xl p-3 bg-green-500"
        >
          <BiLogoPostgresql size="30" />
          Posgresql
        </li>
        <li
          class="flex w-fit gap-3 text-semibold justify-center items-center rounded-md text-xl md:text-3xl p-3 bg-green-500"
        >
          <FaReact size="30" />
          React
        </li>
        <li
          class="flex w-fit gap-3 text-semibold justify-center items-center rounded-md text-xl md:text-3xl p-3 bg-green-500"
        >
          <SiDjango size="30" />
          Django
        </li>
        <li
          class="flex w-fit gap-3 text-semibold justify-center items-center rounded-md text-xl md:text-3xl p-3 bg-green-500"
        >
          <SiFastapi size="30" />
          FastAPI
        </li>
        <li
          class="flex w-fit gap-3 text-semibold justify-center items-center rounded-md text-xl md:text-3xl p-3 bg-green-500"
        >
          <SiAstro size="30" />
          Astro
        </li>
        <li
          class="flex w-fit gap-3 text-semibold justify-center items-center rounded-md text-xl md:text-3xl p-3 bg-green-500"
        >
          <RiTailwindCssFill size="30" />
          TailwindCSS
        </li>
        <li
          class="flex w-fit gap-3 text-semibold justify-center items-center rounded-md text-xl md:text-3xl p-3 bg-green-500"
        >
          <RiSupabaseFill size="30" />
          Supabase
        </li>
        <li
          class="flex w-fit gap-3 text-semibold justify-center items-center rounded-md text-xl md:text-3xl p-3 bg-green-500"
        >
          <IoLogoFirebase size="30" />
          Firebase
        </li>
        <li
          class="flex w-fit gap-3 text-semibold justify-center items-center rounded-md text-xl md:text-3xl p-3 bg-green-500"
        >
          <FaDocker size="30" />
          Docker
        </li>
        <li
          class="flex w-fit gap-3 text-semibold justify-center items-center rounded-md text-xl md:text-3xl p-3 bg-green-500"
        >
          <FaDigitalOcean size="30" />
          Digital Ocean
        </li>
        <li
          class="flex w-fit gap-3 text-semibold justify-center items-center rounded-md text-xl md:text-3xl p-3 bg-green-500"
        >
          <FaGithub size="30" />
          Github
        </li>


      </ul>
    </div>
  </div>
</section>
