---
import { FaLinkedin } from "react-icons/fa";
import { RiTwitterXFill } from "react-icons/ri";
import { IoLogoWhatsapp } from "react-icons/io";
---

<section class="flex py-20 justify-center flex-col">
  <h1
    class="text-6xl pb-10 md:text-8xl text-center font-bold bg-gradient-to-r from-green-500 to-emerald-100 bg-clip-text text-transparent"
  >
    Social Media
  </h1>
  <div class="flex flex-wrap justify-center gap-4">
    <FaLinkedin size="50"/>
    <RiTwitterXFill size="50"/>
    <IoLogoWhatsapp size="50"/>
  </div>
</section>
