---
import Layout from "../layouts/Layout.astro";

const metadata = {
  title: "About us",
};
---

<Layout title={metadata.title}>
  <div>
    <h1>About</h1>
    <p>
      Hi, I'm Raikonif. I'm a web developer and designer. I love to create beautiful and functional
      websites.
    </p>
    <p>
      I'm passionate about learning new technologies and improving my skills. I'm always looking for
      new challenges and opportunities to grow.
    </p>
    <p>
      When I'm not coding, I enjoy playing video games, watching movies, and spending time with my
      family.
    </p>
  </div>
</Layout>
