---
import Layout from "../layouts/Layout.astro";
import Header from "../components/landing/Header.astro";
import Hero from "../components/landing/Hero.astro";
import Projects from "../components/landing/Projects.astro";
import Skills from "../components/landing/Skills.astro";
import Contact from "../components/landing/Contact.astro";
import "./style.css";
import Footer from "../components/landing/Footer.astro";
---

<Layout title="Raikonif Dev.">
  <main class="min-h-screen">
    <body>
      <div class="text-white">
        <Header />
        <div class="glowing">
          <span style="--i:1;"></span>
          <span style="--i:2;"></span>
          <span style="--i:3;"></span>
        </div>
        <div class="glowing">
          <span style="--i:1;"></span>
          <span style="--i:2;"></span>
          <span style="--i:3;"></span>
        </div>
        <div class="glowing">
          <span style="--i:1;"></span>
          <span style="--i:2;"></span>
          <span style="--i:3;"></span>
        </div>
        <div class="glowing">
          <span style="--i:1;"></span>
          <span style="--i:2;"></span>
          <span style="--i:3;"></span>
        </div>
        <Hero />
        <Projects />
        <Skills />
        <Contact />
        <Footer/>
      </div>
    </body>
  </main>
</Layout>
