---
import Layout from "../layouts/Layout.astro";
import Header from "../components/landing/Header.astro";
import Hero from "../components/landing/Hero.astro";
import Projects from "../components/landing/Projects.astro";
import Skills from "../components/landing/Skills.astro";
import Contact from "../components/landing/Contact.astro";
import SocialMedia from "../components/landing/SocialMedia.astro";
---

<Layout title="Raikonif Dev.">
  <main class="bg-slate-950 min-h-screen">
    <body>
      <div class="text-white">
        <Header />
        <!--<span style="&#45;&#45;i:1;"></span>-->
        <!--<span style="&#45;&#45;i:2;"></span>-->
        <!--<span style="&#45;&#45;i:3;"></span>-->
        <Hero />
        <Projects />
        <Skills />
        <Contact />
        <SocialMedia />
      </div>
      <script>
        const menu = document.querySelector("#menu") as HTMLElement;
        const menu_close = document.querySelector("#menu_close") as HTMLElement;
        const menu_list = document.querySelector("#menu_list") as HTMLElement;
        menu.addEventListener("click", () => {
          menu_list.classList.remove("hidden");
          menu.classList.add("hidden");
          menu_close.classList.remove("hidden");
        });
        menu_list.addEventListener("click", () => {
          menu_list.classList.add("hidden");
          menu.classList.remove("hidden");
          menu_close.classList.add("hidden");
        });
        menu_close.addEventListener("click", () => {
          menu_list.classList.add("hidden");
          menu.classList.remove("hidden");
          menu_close.classList.add("hidden");
        });
      </script>
    </body>
  </main>
</Layout>
