<div class="rounded-xl text-center font-bold bg-neutral-800 m-2 p-2">
  <h3 class="bg-gradient-to-r from-green-500 to-emerald-100 bg-clip-text text-transparent">
    Project Rip QR
  </h3>
  <p class="text-white">
    This project offer a service for clients to want to publish memories about a familiar they want
    to remember, with their photos, video and personal data that they want to share, and the share
    can be do it with a link or QR Code to access to that profile memorial.
  </p>
</div>
