<div class="bg-cyan-700 p-4 space-y-3">
  <h1 class="font-bold">{"Project RIP QR"}</h1>
  <p>
    Service for clients that need to publish about their loved ones, data, videos, photos and music.
    and you can visit the profile of the deceased person scanning the QR code. provided by the
    service.
  </p>
  <br />
  <span class="font-serif text-md text-slate-600"
    >This project works through an admin panel that let us make the management of the profiles and
    comments where you can get the QR Code to share with the client.</span
  >
  <img
    alt="admin panel"
    src="https://portfolio-raikonif.nyc3.cdn.digitaloceanspaces.com/qrmemorias/admin/Screenshot%202024-09-26%20115736.png"
    class="rounded-md h-[300px] m-5"
  />
  <span class="font-serif text-md text-slate-600"
    >This is the profile page where we found the data of the current person.</span
  >
  <img
    alt="admin panel"
    src="https://portfolio-raikonif.nyc3.cdn.digitaloceanspaces.com/qrmemorias/client/Screenshot%202024-10-16%20162348.png"
    class="rounded-md h-[300px] m-5"
  />
  <span class="font-serif text-md text-slate-600"
    >This is the landing page where we can found all the services option and how contact to the
    owner of this service.</span
  >
  <img
    alt="admin panel"
    src="https://portfolio-raikonif.nyc3.cdn.digitaloceanspaces.com/qrmemorias/client/Screenshot%202024-10-16%20162957.png"
    class="rounded-md h-[300px] m-5"
  />
  <div class="flex flex-col">
  <span class="text-2xl">this is the link to the landing page:</span>
  <a
    href="https://www.qrmemorias.com/"
    target="_blank"
    class="text-blue-500 font-bold underline underline-offset-2">qrmemorias.com</a
  >
  <span class="text-2xl">this is the link to the landing page:</span>
  <a
    href="https://www.qrmemorias.com/profiles/62"
    target="_blank"
    class="text-green-500 font-bold underline underline-offset-2">profile example</a
  >
  </div>
</div>
