---
import Layout from "../../layouts/Layout.astro";
import { BiLogoPostgresql } from "react-icons/bi";
import { FaDigitalOcean, FaDocker, FaGitAlt, FaGithub, FaPython, FaReact } from "react-icons/fa";
import { SiCss3, SiFastapi, SiRailway, SiRender, SiTypescript } from "react-icons/si";
import { IoLogoJavascript, IoLogoVercel } from "react-icons/io5";
import { RiSupabaseFill, RiTailwindCssFill } from "react-icons/ri";
import Header from "../../components/landing/Header.astro";
---

<Layout title={"Project RIP QR"}>
  <Header link="/" />
  <div class="bg-neutral-950 text-white md:p-8 space-y-3">
    <div class="px-5">
      <h1
        class="font-bold text-3xl pt-20 bg-gradient-to-r from-green-500 to-emerald-100 bg-clip-text text-transparent md:text-5xl pb-2"
      >
        Project RIP QR
      </h1>
      <p class="text-wrap text-sm md:text-2xl">
        Service for clients that need to publish about their loved ones, data, videos, photos and
        music. and you can visit the profile of the deceased person scanning the QR code provided by
        the service. This project was made with the purpose of helping people to remember their
        loved ones in a more interactive way.
        <br />
        I used FastAPI for the backend and React for the frontend, and Supabase for the database and
        storage. In addition, I used TailwindCSS for the styles and Digital Ocean for additional Storage.
      </p>
    </div>

    <br />
    <div class="flex flex-col justify-between space-y-3 md:space-y-10">
      <div class="bg-green-500 px-5 text-center md:px-0 py-2 md:py-3">
        <h2 class="text-black md:text-black lg:text-3xl md:text-2xl font-bold">Admin Panel</h2>
      </div>
      <div class="flex flex-col md:flex-row gap-3">
        <div class="w-full px-5 md:w-1/2">
          <span class="md:text-xl">
            This project works through an admin panel that let us make the management of the
            profiles and comments where you can get the QR Code to share with the client we can make
            the usual operations like read create update and delete. And can upload images to the
            storage and link with an url to the data profile.
          </span>
        </div>
        <img
          alt="admin panel"
          src="https://portfolio-raikonif.nyc3.cdn.digitaloceanspaces.com/qrmemorias/admin/Screenshot%202024-09-26%20115736.png"
          class="border-y-2 border-green-500 md:w-1/2"
        />
      </div>
      <div class="bg-green-500 px-5 text-center md:px-0 py-2 md:py-3">
        <h2 class="text-black md:text-black lg:text-3xl md:text-2xl font-bold">Profile Page</h2>
      </div>
      <div class="flex flex-col md:flex-row-reverse gap-3">
        <div class="w-full px-5 md:w-1/2">
          <span class="md:text-xl">
            This is the profile page where we found the data of the current person. and let us share
            this profile, as link or QR Code, and we can comment and see the comments of the people
            that visit the profile.
          </span>
        </div>
        <img
          alt="admin panel"
          src="https://portfolio-raikonif.nyc3.cdn.digitaloceanspaces.com/qrmemorias/client/Screenshot%202024-10-16%20162348.png"
          class="border-y-2 border-green-500 md:w-1/2"
        />
      </div>

      <div class="bg-green-500 px-5 text-center md:px-0 py-3">
        <h2 class="text-black md:text-black lg:text-3xl md:text-2xl font-bold">Landing Page</h2>
      </div>
      <div class="flex flex-col md:flex-row gap-3">
        <div class="w-full md:w-1/2 px-5">
          <span class="md:text-xl">
            This is the landing page where we can found all the services option and how contact to
            the owner of this service.
          </span>
        </div>
        <img
          alt="admin panel"
          src="https://portfolio-raikonif.nyc3.cdn.digitaloceanspaces.com/qrmemorias/client/Screenshot%202024-10-16%20162957.png"
          class="border-green-500 border-y-2 md:w-1/2"
        />
      </div>

      <div class="bg-green-500 px-5 text-center md:px-0 py-2 md:py-3">
        <h2 class="text-black md:text-black lg:text-3xl md:text-2xl font-bold">Links</h2>
      </div>
      <div class="flex w-full">
        <div class="flex flex-col md:w-1/2 items-center">
          <span class="text-2xl">this is the link to the landing page:</span>
          <a
            href="https://www.qrmemorias.com/"
            target="_blank"
            class="text-blue-500 md:text-2xl font-bold underline underline-offset-2">qrmemorias</a
          >
        </div>
        <div class="flex flex-col md:w-1/2 items-center">
          <span class="text-2xl">this is the link to the landing page:</span>
          <a
            href="https://www.qrmemorias.com/profiles/62"
            target="_blank"
            class="text-green-500 md:text-2xl font-bold underline underline-offset-2"
            >profile example</a
          >
        </div>
      </div>
      <div class="bg-green-500 px-5 text-center md:px-0 py-2 md:py-3">
        <h2 class="text-black md:text-black lg:text-3xl md:text-2xl font-bold">
          Tecnologies Used:
        </h2>
      </div>
      <ul class="flex flex-wrap gap-3 justify-center">
        <li
          class="flex w-fit gap-3 text-semibold justify-center items-center rounded-md text-xl md:text-3xl p-3 bg-sky-800"
        >
          <FaPython size="30" />
          Python
        </li>
        <li
          class="flex w-fit gap-3 text-semibold justify-center items-center rounded-md text-xl md:text-3xl p-3 bg-yellow-500"
        >
          <IoLogoJavascript size="30" />
          Javascript
        </li>
        <li
          class="flex w-fit gap-3 text-semibold justify-center items-center rounded-md text-xl md:text-3xl p-3 bg-blue-600"
        >
          <SiTypescript size="30" />
          Typescript
        </li>
        <li
          class="flex w-fit gap-3 text-semibold justify-center items-center rounded-md text-xl md:text-3xl p-3 bg-red-500"
        >
          <FaGitAlt size="30" />
          Git
        </li>
        <li
          class="flex w-fit gap-3 text-semibold justify-center items-center rounded-md text-xl md:text-3xl p-3 bg-blue-700"
        >
          <BiLogoPostgresql size="30" />
          Posgresql
        </li>
        <li
          class="flex w-fit gap-3 text-semibold justify-center items-center rounded-md text-xl md:text-3xl p-3 bg-cyan-600"
        >
          <FaReact size="30" />
          React
        </li>
        <li
          class="flex w-fit gap-3 text-semibold justify-center items-center rounded-md text-xl md:text-3xl p-3 bg-green-600"
        >
          <SiFastapi size="30" />
          FastAPI
        </li>
        <li
          class="flex w-fit gap-3 text-semibold justify-center items-center rounded-md text-xl md:text-3xl p-3 bg-emerald-600"
        >
          <RiTailwindCssFill size="30" />
          TailwindCSS
        </li>
        <li
          class="flex w-fit gap-3 text-semibold justify-center items-center rounded-md text-xl md:text-3xl p-3 bg-emerald-400"
        >
          <RiSupabaseFill size="30" />
          Supabase
        </li>
        <li
          class="flex w-fit gap-3 text-semibold justify-center items-center rounded-md text-xl md:text-3xl p-3 bg-blue-900"
        >
          <FaDigitalOcean size="30" />
          Digital Ocean
        </li>
        <li
          class="flex w-fit gap-3 text-semibold justify-center items-center rounded-md text-xl md:text-3xl p-3 bg-gray-950"
        >
          <FaGithub size="30" />
          Github
        </li>
        <li
          class="flex w-fit gap-3 text-semibold justify-center items-center rounded-md text-xl md:text-3xl p-3 bg-stone-900"
        >
          <IoLogoVercel size="30" />
          Vercel
        </li>
        <li
          class="flex w-fit gap-3 text-semibold justify-center items-center rounded-md text-xl md:text-3xl p-3 bg-slate-900"
        >
          <SiRender size="30" />
          Render
        </li>
      </ul>
    </div>
  </div>
</Layout>
